<div class="nav-pf-vertical nav-pf-vertical-with-sub-menus nav-pf-persistent-secondary">
  <ul class="list-group">
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="dashboard">
        <span class="fa fa-dashboard" title="Dashboard"></span>
        <span class="list-group-item-value">Dashboard</span>
      </a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="center-coste">
        <span class="fa fa-folder" title="Centros de Costo"></span>
        <span class="list-group-item-value">Centro Costo</span>
      </a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="expedients/requirements">
        <span class="fa fa-file-text" title="Requerimiento"></span>
        <span class="list-group-item-value">Requerimiento</span>
      </a>
    </li>
  </ul>
</div>