<div class="nav-pf-vertical nav-pf-vertical-with-sub-menus nav-pf-persistent-secondary">
  <ul class="list-group">
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="overview">
        <span class="fa fa-dashboard" title="Dashboard"></span>
        <span class="list-group-item-value">Dashboard</span>
      </a>
    </li>    
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="expedients/requirements">
        <span class="fa fa-space-shuttle" title="Requerimiento"></span>
        <span class="list-group-item-value">Requerimiento</span>
      </a>
    </li>
  </ul>
</div>