<!-- <div class="nav-pf-vertical nav-pf-vertical-with-sub-menus nav-pf-persistent-secondary">
    <ul class="list-group"> 
      <li class="list-group-item" routerLinkActive="active">
            <a routerLink="overview">
              <span class="fa fa-wpforms" title="Expedientes"></span>
              <span class="list-group-item-value">Expedientes</span>
            </a>        
      </li>       
      <li class="list-group-item" routerLinkActive="active">
        <a routerLink="expedients/requirements">
          <span class="fa fa-wpforms" title="Requerimientos"></span>
          <span class="list-group-item-value">Requerimiento</span>
        </a>        
      </li>        
    </ul>
  </div>
   -->  

<div class="nav-pf-vertical nav-pf-vertical-with-sub-menus nav-pf-persistent-secondary">
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="overview">
        <span class="fa fa-dashboard" data-toggle="tooltip" title="Dashboard"></span>
        <span class="list-group-item-value">Dashboard</span>
      </a>
    </li>
    <!-- <li class="list-group-item">
      <a href="#0">
        <span class="fa fa-shield" data-toggle="tooltip" title="Dolor"></span>
        <span class="list-group-item-value">Dolor</span>
        
      </a>
    </li> -->
    <li class="list-group-item active " data-target="#ipsum-secondary">
      <a routerLink="expedients/requirements">
        <span class="fa fa-space-shuttle" data-toggle="tooltip" title="Ipsum"></span>
        <span class="list-group-item-value">Requerimiento</span>
      </a>
      
    </li>
    <!-- <li class="list-group-item " data-target="#amet-secondary">
      <a href="#0">
        <span class="fa fa-paper-plane" data-toggle="tooltip" title="Amet"></span>
        <span class="list-group-item-value">Amet</span>
      </a>
      
    </li>
    <li class="list-group-item">
      <a href="#0">
        <span class="fa fa-graduation-cap" data-toggle="tooltip" title="Adipscing"></span>
        <span class="list-group-item-value">Adipscing</span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#0">
        <span class="fa fa-gamepad" data-toggle="tooltip" title="Lorem"></span>
        <span class="list-group-item-value">Lorem</span>
      </a>
    </li>     -->
  </ul>
</div>


      