<nav class="navbar navbar-pf-vertical">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="toggleNav()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a routerLink="/" class="navbar-brand">
      <img class="navbar-brand-icon" src="/assets/img/logo.svg" alt="" />
      <img class="navbar-brand-name" src="/assets/img/brand-alt.svg" alt="Sacpi | Next Enterprise Application" />
    </a>
  </div>
  <nav class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right navbar-iconic">
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle nav-item-iconic" href="javascript:void(0);" dropdownToggle>
          <span title="Help" class="fa pficon-help"></span>
          <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li>
            <a href="javascript:void(0);" (click)="aboutModal.open()">About</a>
          </li>
        </ul>
      </li>
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle nav-item-iconic" href="javascript:void(0);" dropdownToggle>
          <span title="Username" class="fa pficon-user"></span> {{user.username}}
          <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li>
            <a href="javascript:void(0);" (click)="accountManagement()">Cambiar Contraseña</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:void(0);" (click)="logout()">Salir</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</nav>
<sacpi-about-modal #aboutModal></sacpi-about-modal>