<form (ngSubmit)="onConfirm()" *ngIf="active">
  <div class="sacpi-confirm">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="modal-body">
          <p>¿{{body}}
            <b>{{data}}</b>.?</p>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-default">
            <span class="fa fa-thumbs-o-up"></span> Confirmar</button>
          <button type="button" class="btn btn-primary" (click)="onCancel()">
            <span class="fa fa-ban"></span> Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</form>
